#testExam {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
}
.mainQuestionTable img[alt="eye"]{
    transform: scale(0.5) !important;
}
#testExam .left {
    width: 40%;
    height: 75vh;
    overflow: auto;
    border-radius: none;
}

#testExam .left::-webkit-scrollbar{
    width: 10px;
}
#testExam .left::-webkit-scrollbar-thumb{
    width: 10px;
    background: skyblue;
    border-radius: 10px;
    cursor: pointer;
}
#testExam .left::-webkit-scrollbar-track{
    width: 10px;
    cursor: pointer;
    background: rgba(199, 197, 197, 0.418);
}


#testExam .right {
    width: 60%;
    height: 100%;
    min-height: 80vh;
    background: white;
    overflow-y: auto;
    border-left: 1px solid grey;
}


#testExam .right .showAllQuestion {
    width: 100%;
    height: 100%;
}

#testExam .right .showAllQuestion .top {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
}

#testExam .right .showAllQuestion .sub_question_dtl {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#testExam .right .showAllQuestion .sub_question_dtl .qq {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgba(59, 204, 161, 0.397);
    /* background: rgba(128, 128, 128, 0.397); */
}

#testExam .right .showAllQuestion .sub_question_dtl .qq span {
    font-weight: bolder;
    font-size: 130%;
}

#testExam .right .showAllQuestion .sub_question_dtl .opp {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#testExam .right .showAllQuestion .sub_question_dtl .opp p {
    margin: 10px 20px;
    color: #000;
    font-weight: bold;
}

#testExam .right .showAllQuestion .sub_question_dtl .opp p.correct {
    color: rgb(27, 155, 85) !important;
    font-weight: bolder;
}

#testExam .right .insertNewQuestion {
    padding: 20px;
    background: white;
    height: 100%;
    overflow: auto;
}

#testExam .right .insertNewQuestion .op_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#testExam .right .insertNewQuestion .op_row input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

#testExam .right .insertNewQuestion .btns-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#testExam .addOptionBtn {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}

#testExam .addOptionBtn i {
    margin-right: 10px;
    padding-top: 3px;
    font-size: 150%;
    width: 30px;
    height: 30px;
    background: none;
    color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}

#testExam .deleteOptionBtn i {
    border: 1px solid red;
    color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#testExam .addOptionBtn i:hover {
    background: black;
    color: white;
    transition: .15s;
}

#testExam .deleteOptionBtn i:hover {
    background: red;
    color: white;
    transition: .15s;
}

.imageUploadIcon {
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px !important;
}

.imageUploadIcon label {
    margin: 0;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageUploadIcon input {
    /* position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    right: 0; */
    display: none;
}

.imageUploadIcon i {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    margin-right: 5px;
}

.imageUploadIcon label span {
    background: grey;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.to_row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.to_row>div {
    width: 45%;
}
.to_row>div input {
    width: 100%;
}


.to_row>span.toBox {
    width: 10%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subQuestionId{
    font-size: 70% !important;
    font-weight: lighter !important;
}
.q_row{
    display: flex;
    flex-direction: column;
}
.qq > div img{
    cursor: pointer;
}