#internalTeacher {
    background: #FFF9CA;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    font-size: 15px;
}

#internalTeacher h1 {
    font-weight: bolder;
    margin-bottom: 20px;
}

#internalTeacher p {
    color: black;
}

#internalTeacher .left {
    width: 60%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
}

#internalTeacher .right {
    width: 40%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#internalTeacher .right img {
    width: 70%;
}

#internalTeacher .input_row {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

#internalTeacher .input_row label {
    width: 40%;
    font-weight: bolder;
    font-size: 170%;
    margin: 0;
    padding: 0;
}

#internalTeacher .input_row input {
    width: 60%;
    border: none;
    border-radius: 40px;
    background: white;
    padding: 10px 20px;
    outline: none;
}

#internalTeacher .input_row p {
    display: inline;
    font-size: 70%;
    color: blue;
    margin-bottom: 0;
}

#internalTeacher .input_row input[type="checkbox"] {
    width: 25px !important;
    height: 25px !important;
    cursor: pointer;
    margin-right: 10px;
}

#internalTeacher .submitBtn {
    width: 210px;
    height: 50px;
    margin: 0 auto;
    background: #5C62FF;
    border-radius: 150px;
    font-size: 100%;
    color: white;
    font-weight: bold;
}

#internalTeacher .submitBtn.b {
    width: 100%;
    border-radius: 10px;
}

#internalTeacher span {
    color: #4b51f0;
    margin-bottom: 20px;
    border-bottom: 1px solid #4b51f0;
    font-size: 120%;
    font-weight: bolder;
    cursor: pointer;
}

#internalTeacher .submitBtn:hover {
    background: #4b51f0;
    color: black;
}


@media screen and (max-width: 650px) {
    #internalTeacher {
        flex-direction: column;
    }

    #internalTeacher .right {
        display: none;
    }

    #internalTeacher .left {
        width: 100%;
        padding: 15px;
        display: block;
    }

    #internalTeacher .left h1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #internalTeacher .left > p{
        margin-bottom: 100px;
    }

    #internalTeacher .left .input_row{
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: start;
    }
    #internalTeacher .left .input_row input{
        border-radius: 5px;
        border: 1px solid grey;
        width: 100%;
    }
    #internalTeacher .left .input_row.checkboxInput{
        flex-direction: row !important;
        justify-content: center;
        letter-spacing: 1px;
        font-size: 120%;
    }
    #internalTeacher .left .submitBtn{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 50px;
    }
        


}